aiogram>=3.0.0b7
environs~=9.0
redis
betterlogging
psycopg2-binary
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# # For enabling api:
# backoff
# ujson
# yarl

# # For PostgreSQL sqlalchemy + alembic:
# sqlalchemy~=2.0
# alembic~=1.0
# asyncpg